@import url("variables.css");

body {
	background-color: var(--bg);
	color: var(--text);
}

#theme-switch {
	font-family: inherit;
	font-size: inherit;
	border: 1px solid var(--bg);
	background-color: var(--bg);
	color: var(--text);
}

#theme-switch:hover {
	border-color: var(--text);
}

a {
	color: var(--text);
	text-decoration: underline;
	text-underline-offset: 0.2em;
}

a:hover {
	color: var(--links);
}

a[href^="#"]:hover {
	color: var(--text);
	text-decoration: none;
}

.theme-color-links a {
	color: var(--links);
}

.theme-color-links a:hover {
	color: var(--text);
}

.theme-color-links a[href^="#"]:hover {
	color: var(--links);
	text-decoration: none;
}

.markdown-body h1, .markdown-body h2 {
	border-bottom: 1px solid var(--gray-border);
}

.markdown-body h1 a, .markdown-body h2 a {
	color: var(--links);
	text-decoration: none;
}

.markdown-body h1 a:hover, .markdown-body h2 a:hover {
	text-decoration: underline;
}

.border-gray-light {
	border-color: var(--gray-border) !important;
}

.border-top {
	border-top: 1px var(--border) solid !important;
}

/* border: 0 */
hr, .rule {
	border-bottom: 1px solid var(--table-td-border);
}

.markdown-body hr {
	background-color: var(--border);
}

.markdown-body table th,
.markdown-body table td {
	border: 1px solid var(--table-td-border);
}

.markdown-body table tr {
	background-color: var(--bg);
	border-top: 1px solid var(--table-tr-border);
}

.markdown-body table thead tr,
.markdown-body table tr:nth-child(2n) {
	background-color: var(--table-header-bg);
}

.markdown-body .highlight pre,
.markdown-body pre,
.highlight {
	color-scheme: light;
	background-color: var(--highlight);
	color: var(--text);
}
